<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <h1 class="title"><%= @channel.name %></h1>
  </div>
</section>

<div class="columns">
  <div class="column is-one-quarter">
    <div>
      <h6 class="title is-6">Channels</h6>
    </div>
    <% @channels.each do |channel| %>
      <div>
        <%= link_to channel.name, channel_path(channel) %>
        <% if current_user.channels.include?(channel) %>
          <%= link_to channel_channel_user_path(channel),
              method: :delete do%>
            <i class="fas fa-times" ></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <hr/>
    <div>
      <h6 class="title is-6">User</h6>
    </div>
    <% @channel.users.each do |user| %>
      <div>
        <%=user.email%>
      </div>
    <% end %>
  </div>
  <div class="column is-three-quarters">
    <% if current_user.channels.include?(@channel) %>
    <% else %>
      <%= link_to "Join #{@channel.name}",
          channel_channel_user_path(@channel),
          method: :post%>
    <% end %>
  </div>
</div>

<%= link_to 'Edit',
    edit_channel_path(@channel),
    class: 'button is-primary is-light is-small' %> |
<%= link_to 'Back',
    channels_path,
    class: 'button is-link is-light is-small' %>
